-content_for :head do
  =javascript_include_tag 'jquery.imagePopup'

- @articles.each do |article|
  %div.article_title
    = article.title
    %span.article_date
      = to_created_at(article)
    = "Article poster"
  %div.article_teaser
    = article.summary.blank? ? article.content.split(' ')[0,100].join(' ') + '...' : article.summary
    = link_to t('article.read_more'), article_path(article)
    = "(#{pluralize(article.site_comments.size, t('site_comment.comments'))})"
