-content_for :head do
  =javascript_include_tag 'jquery.imagePopup'

- @blog_entries.each do |blog_entry|
  %div.blog_entry_title
    = blog_entry.title
    %span.blog_entry_date
      = to_created_at(blog_entry)
    = link_to blog_entry.author, blog_entry.site_user
  %div.blog_entry_content
    = blog_entry.content.split(' ')[0,100].join(' ') + '...'
    = link_to t('read_more'), blog_entry_path(blog_entry)
    = "(#{pluralize(blog_entry.site_comments.size, t('site_comment.comments'))})"
