%div.game_header
  = @chess_game.white_player.to_name
  = '-'
  = @chess_game.black_player.to_name
  = @chess_game.chess_result
%div.chessboard{id: "chessboard", style: "width: 400px; margin-top: 50px"}
%div.move_manipulation
  %input#startPosition{type: "button", value: "Start"}/
  %input#moveBackward{type: "button", value: "<-"}/
  %input#moveForward{type: "button", value: "->"}/
  %input#flipBoard{type: "button", value: "Flip"}/
%div.move_notation
  - @chess_game.chess_moves.each_slice(2).with_index do |move_slice, i|
    %div.move_slice
    = i+1
    - move_slice.each_with_index do |move,j|
      %input.moveSelection{type: "button", value: "#{move.piece}#{move.move_notation}", fen: "#{move.fen_after}", counter: "#{2*i+j+1}"}/

:css
  .highlight-white {
    -webkit-box-shadow: inset 0 0 3px 3px yellow;
    -moz-box-shadow: inset 0 0 3px 3px yellow;
    box-shadow: inset 0 0 3px 3px yellow;
  }

:javascript
  var reloadVariations = function(){
    //alert('Reload the variations now');
    };
  var increase = function(value, limit){
    if(value+1 < limit){
      value++;
    }
    console.log(value);
    return value;
  };
  var decrease  = function(value){
    if(value-1 >= 0){
      value--;
    }
    console.log(value);
    return value;
  };
  var cfg = {
    showNotation: false,
    position: 'start',
    onChange: reloadVariations
  };


  var chessboard = new ChessBoard('chessboard', cfg);
  var boardEl = $('#chessboard');
  var moves = #{@chess_game.all_moves};
  var fen_before = #{@chess_game.all_before_move_fens};
  var counter = 0;
  var max_counter = moves.length;
  var move_from;
  var move_to;
  var squareClass = 'square-55d63';

  $(document).keydown (function (e) {
    var keyStroke = e.keyCode;
    if(keyStroke == 39){
      move_from = moves[counter].substring(0,2);
      move_to = moves[counter].substring(3,5);

      boardEl.find('.' + squareClass).removeClass('highlight-white');
      boardEl.find('.square-' + move_from).addClass('highlight-white');
      boardEl.find('.square-' + move_to).addClass('highlight-white');

      counter = increase(counter, max_counter);
      chessboard.position(fen_before[counter], false);
    }
    else if(keyStroke == 37)
    {
      counter = decrease(counter);
      chessboard.position(fen_before[counter], false);
    }
  });

  $('#flipBoard').on('click', function() {
    chessboard.flip();
  });

  $('#startPosition').on('click', function() {
    chessboard.position('start', false);
    counter = 0;
  });

  $('#moveForward').on('click', function() {
    move_from = moves[counter].substring(0,2);
    move_to = moves[counter].substring(3,5);

    boardEl.find('.' + squareClass).removeClass('highlight-white');
    boardEl.find('.square-' + move_from).addClass('highlight-white');
    boardEl.find('.square-' + move_to).addClass('highlight-white');

    counter = increase(counter, max_counter);
    chessboard.position(fen_before[counter], false);
  });

  $('#moveBackward').on('click', function() {
    counter = decrease(counter);
    chessboard.position(fen_before[counter], false);
  });

  $('.moveSelection').each(function(index) {
    $(this).click(function() {
      boardEl.find('.' + squareClass).removeClass('highlight-white');
      move = $(this).attr("value");
      move_from = move.substring(0,2);
      move_to = move.substring(3,5);
      boardEl.find('.square-' + move_from).addClass('highlight-white');
      boardEl.find('.square-' + move_to).addClass('highlight-white');
      counter = $(this).attr("counter");
      chessboard.position($(this).attr("fen"), false);
    });
  });

