%div.game_header
  = @chess_game.white_player.to_name
  = '-'
  = @chess_game.black_player.to_name
  = @chess_game.chess_result
%div.chessboard{id: "chessboard", style: "width: 400px; margin-top: 50px"}
%div.move_manipulation
  %input#startPosition{type: "button", value: "Start"}/
  %input#moveBackward{type: "button", value: "<-"}/
  %input#moveForward{type: "button", value: "->"}/
  %input#flipBoard{type: "button", value: "Flip"}/
%div.move_notation
  - @chess_game.chess_moves.each_slice(2).with_index do |move_slice, i|
    %div.move_slice
    = i+1
    - move_slice.each do |move|
      %input.moveSelection{type: "button", value: "#{move.piece}#{move.move_notation}", fen: "#{move.fen_after}"}/


:javascript

  var reloadVariations = function(){
    //alert('Reload the variations now');
    };

  var cfg = {
    showNotation: false,
    position: 'start',
    onChange: reloadVariations
  };

  var chessboard = new ChessBoard('chessboard', cfg);
  var moves = #{@chess_game.all_moves}
  var reversed_moves = #{@chess_game.all_moves_reversed}
  var fen_before = #{@chess_game.all_before_move_fens}
  var counter = 0
  var max_counter = moves.length

  $('#flipBoard').on('click', function() {
    chessboard.flip();
  });

  $('#startPosition').on('click', function() {
    chessboard.position('start', false);
    counter = 0;
  });

  $('#moveForward').on('click', function() {
    if(moves[counter] == 'e1-g1' && moves[counter+1] == 'h1-f1' || moves[counter] == 'e8-g8' && moves[counter+1] == 'h8-f8'
    ){
    chessboard.move(moves[counter], moves[++counter])
    }
    else
    {
    chessboard.move(moves[counter]);
    }
    counter++;
  });

  $('#moveBackward').on('click', function() {
    counter--;
    chessboard.position(fen_before[counter], false);
  });

  $('.moveSelection').each(function(index) {
    $(this).click(function() {
      chessboard.position($(this).attr("fen"), false);
    });
  });

