%div.tournament
  %div.tournament_header
    = @tournament.tournament_name
    = "(#{short_date(@tournament.tournament_start)}-#{short_date(@tournament.tournament_finish)})"
    = link_to t('edit'), edit_tournament_path(@tournament) if can? :manage, @tournament
    = link_to t('delete'), tournament_path(@tournament), method: :delete, confirm: t('delete_confirmation') if can? :manage, @tournament
  %div.rounds_and_results
    %div.tournament_rounds
      - if @tournament.rounds.present?
        = render partial: "tournaments/games"
      - else
        = t('tournament.no_rounds')
    %div.tournament_results
      - render partial: "tournaments/results", locals: {results: @tournament.results}
  %div.tournament_comments
    = render partial: "site_comments/form", locals: {commentable_type: "Tournament", commentable_id: @tournament.id} if can? :add, SiteComment
    = render partial: "site_comments/list", locals: {comments: @tournament.site_comments}
