%div.player
  %div.gravatar
    -# image_tag gravatar_url(@player)

  %div.name
    - if @player.name.present? && @player.surname.present?
      = "#{@player.name}  #{@player.surname}"
      = "(#{Country.find_country_by_alpha3(@player.country_code).try(:name)})" if @player.country_code
  %div.edit_player
    = link_to t('edit'), edit_player_path(@player) if can? :edit, @player
  %div.personal_info
    %div.personal_info_field
      = t('player.birthday') + ': ' + @player.birthday if @player.birthday.present?
    %div.personal_info_field
      = t('player.rating') + ': ' + @player.current_rating.to_s if @player.current_rating.present?
    %div.personal_info_field
      = t('player.highest_rating') + ': ' + @player.highest_rating.to_s if @player.highest_rating.present?
  %div.fide_data
    %div.link_to_profile
      = link_to t('fide_profile'), "http://ratings.fide.com/card.phtml?event=#{@player.fide_id}"
    %div.link_to_games
      = link_to t('fide_games'), "http://ratings.fide.com/view_games.phtml?id=#{@player.fide_id}"

%div.player_tournaments
  = t('player.games')
  - @player.tournaments_with_games.each do |tournament|
    %div.tournament
      %div.tournament_name
        = tournament.first
      %div.games
        - tournament.last.each do |game|
          %div.game
            = Player.find_by_id(game.white_player_id).to_name
            = game.chess_result
            = Player.find_by_id(game.black_player_id).to_name

