%div.players_charts
  %div.rating_chart
    = t('ratings')
    = column_chart (@prepared_ratings_hash), height: "400px"
  %div.games_chart
    = t('games')
    = column_chart (@prepared_gamecount_hash), height: "400px"
  %div.titles_chart
    = t('titles')
    = pie_chart(@prepared_international_title_hash)
  %div.countries_chart
    = t('titles')
    = geo_chart(@prepared_countries_hash)
