!!!
%html
  %head
    %title ZPawn - #{@title || 'chess website'}
    = stylesheet_link_tag "application",  "tokeninput/token-input", "tokeninput/token-input-facebook",
     "site_comments", "events", "photos", "tournaments", "ratings", "user", "rounds","feeds","tags", "wice_grid",
     "article", "blog_entry", "jquery.tagit", "colorbox",
     "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css",
     "css/jquery.lightbox-0.4.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.js", :type => "text/javascript"}
    %script{:src => "/assets/application.js", :type => "text/javascript"}
    //%script{:src => "/assets/tag-it.js", :type => "text/javascript"}
    //%script{:src => "/assets/clock.js", :type => "text/javascript"}
    //%script{:src => "/assets/rounds.js", :type => "text/javascript"}
    //%script{:src => "/assets/jquery.tokeninput.js", :type => "text/javascript"}
    //%script{:src => "http://gettopup.com/releases/latest/top_up-min.js", :type => "text/javascript"}

  %body
    #main_window
      #user_login
        - if site_user_signed_in?
          = link_to (current_user.nick || current_user.email), site_user_path(current_user)
          \#{link_to "Sign out", destroy_site_user_session_path, :method => :delete}
        - else
          = link_to "Sign up", new_site_user_registration_path
          or #{link_to "sign in", new_site_user_session_path}
        #clock_tab
          %script{:language => "JavaScript"} dT();
      #display_window
        #navigation.navigation_content
          #top_navigation= render_navigation(:level => 1)
          .clear_float
          .content_wrapper
            #sub_navigation= render_navigation(:level => 2)
            .content
            .clear_float
            .content_wrapper
              #sub_sub_navigation= render_navigation(:level => 3)
              .content
      #yield_body
        = yield
      #footer_note
        = params.inspect
